<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>About us</h1>
    <br>
    <div class="class" style="margin-left:0%">
        <p>Street Saver is Pakistans first and No 1 self defense gadgets E-store, founded in November 2020 after the motorway Incident, when there was no awareness about self defense gadgets in Pakistan. Our mission was to spread awareness and make it easy for everyone to buy self defense gadgets and we made it. More than 20,000 self defense gadgets have been sold in 7 months since initiated.
            We offer an array of products including Stun Guns, Pepper Sprays, Baton Sticks, panic Alarms and SOS.
            
            STREET SAVER OFFERS ITS CUSTOMERS FAST DELIVERY OF IMPORTED PRODUCTS, OF THE HIGHEST QUALITY, AT THE MOST REASONABLE PRICE.</p>
    </div>
    <br>
    <div class="card-deck" style="padding: 10px">
        <div class="card" style="width: 20%;border:none">
          
          <div class="card-body">
            <img class="card-img-top" src="/public/images/pic_17.jpg" style="width:70%;align-items:center;margin-left:90px" alt="Card image cap">

          </div>
        </div>
        <div class="card" style="width: 10%;border:none;margin-left:10px">

            <h2>About Syed Haider & Iqra Ahad</h2>
            <br><br>
                <p> Haider is a Senior Accountant in a well known marketing company in Dubai. And Iqra Ahad is an apparel professional, owns a clothing brand. <br><br> They also own an accounting company that provides freelance accounting services. Apart from that, they started STREET SAVER as a side hustle.
                
                In Nov 2020, Haider & Iqra Ahad started STREET SAVER when Pakistan was facing  increased  Malapertly  of  rape  cases  and  this  was  creating  a  sense  of  insecurity  among  women. They researched and didn’t find a single self defense gadget’s shop in Pakistan. </p>
        </div>
    </div> 
    <hr>
        <p>Its an intimidating world out there, where you can always do a little extra to keep yourself protected. Apart from knowing the art of self defense, having some effective self defense weapons will only help you in protecting yourself.
            <br>
            <br>
            Thats when Haider & Iqra started the ball rolling and kicked off the research. It wasnt as easy as it looked. From finding manufacturers to get the products shipped in Pakistan and get them cleared from custom department was a hassle. There was a time when they almost gave up. But you know theres a saying that goes “Everything that God allows to come our way is always with a purpose. God has it all figured out. He will make a way where you dont see a way”
            And thats what happened. After a long wait of 2 months, the products got cleared from custom department and they got permission to sell Self defense gadgets in Pakistan.
            <br>
            <br>
            Since Nov 2020, Street Saver is working day & night to spread awareness about self defense and provide women with self defense gadgets at their doorstep.
            <br>
            <br>
            NOTE: All our products are imported and shipped from different countries via seas. We give one month replacement warranty of our products in case of any glitch..</p>
    
</body>
</html>